/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Hero Section */

.hero{
    min-height: 100vh;
    background-color: rgb(209, 209, 209);
    background-repeat: no-repeat;
    background-size: cover;

}

.hero h1{
    width: 100%;
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 60px;
}

.hero p{
    width: 30%;
    position: absolute;
    top:50%;
    left: 51%;
    transform: translate(-50%, -50%);
    padding:10px;
}

.hero button{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 20px;
}

/* About Section */
.about {
    background-color: #fff4fe;
    padding: 3rem 0;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}